@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-size: revert;
  font-weight: revert;
}
ul{
  list-style: revert;
}
header{
  top: 0;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 100px;
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}
header .logo-slider, header nav{
  opacity: 1;

}
header.hidden .logo-slider, header.hidden nav{
  opacity: 0;
  transition: transform 0.5s;
}
.header-logo{
  align-items: center;
  gap: 10px;
}
nav{
  display: flex;
  align-items: center;
  right: 0;
}
nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
}
nav ul li a{
  font-family: "Inter", sans-serif;
  line-height: 22.4px;
  text-decoration: none;
  color: #fff;
}
.slick-track > div{
  border-radius: 10px;
}
.slick-track > div:nth-of-type(1){
  background: linear-gradient(to bottom right, #03001e, #7303c0, #ec38bc, #fdeff9);
}
.slick-track > div:nth-of-type(2){
  background: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);
}
.slick-track > div:nth-of-type(3){
  background: linear-gradient(to bottom right, #c31432, #240b36);
}
.slick-track > div:nth-of-type(4){
  background: linear-gradient(to bottom right, #8a2387, #e94057, #f27121);
}
.slick-track > div:nth-of-type(5){
  background: linear-gradient(to bottom right, #ad5389, #3c1053);
}
.article-container{
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  padding: 30px 40px !important;
  height: 250px;
}
.article-read{
  font-size: 1rem;
  font-weight: 400;
}
.category-thumb{
  padding-bottom: 20px;
}
.category-thumb:not(:first-child){
  padding-top: 20px;
}
.category-thumb:not(:last-child){
  border-bottom: 1px solid #cccccc;
}
.sidebar-ul{
  list-style: disc;
  padding-left: 1rem;
}
.card-grid{
  grid-template-columns: repeat(3, 1fr);
}
.cat-article-card{
  border: 1px solid #cccccc;
  border-radius: 10px;
  height: 100px;
  padding: 20px;
  background: #f9f9f9;
}

@media only screen and (max-width: 767px){
  header{
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-logo{
    display: none;
  }
  .article-container{
    padding: 20px !important;
    height: 200px;
  }
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}